.mainContent {
    @include section;
    @include position;

    .content {
        @include inner;
        @include flex;
        
        &>* {
            flex: 1;
            background: $mc;
            color: #fff;
        }
    }

    .dot {
        @include position (absolute, 0, auto, auto, 0, 999);
    }
}